<nav class="navbar navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">
    <h2 class="logo">Booking</h2>
  </a>

  <div>
    <ul class="nav navbar">
      <li class="nav-item" routerLinkActive="active-page"></li>
      <a class="nav-link" routerLink="/signUp">
        <button type="button" class="btn btn-primary">Sign Up</button>
      </a>
      <li class="nav-item" routerLinkActive="active-page">
        <a class="nav-link" routerLink="/login">
          <button type="button" class="btn btn-primary">Login</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
