.navbar {
  border-bottom: 6px solid rgb(23, 87, 143);
  border-radius: 10px;
}
.logo {
  padding: 10px;
  background-color: rgb(23, 87, 143);
  border-radius: 10px;
  font-style: oblique;
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
}

.nav-item {
  margin-right: 130px;
}
ul {
  border: none !important;
  font-size: 20px;
}
.btn {
  background-color: rgb(23, 87, 143);
}

.btn:hover {
  color: #ff7a59;
  border: #ff7a59 solid 2px;
  background: #fff;
}
.active-page {
  background: #989898;
}
.firstName {
  color: white;
  margin-right: 30px;
}
.firstName:hover {
  text-decoration: underline;
  cursor: pointer;
}
